<div class='wrapper'>

  {% if site.lang == "mk" %}
    <a href="/"><h1 class='ir' id='logo'>Sanatorium</h1> </a>
  {% elsif site.lang == "en" %}
    <a href="/en"><h1 class='ir' id='logo'>Sanatorium</h1> </a>
  {% endif %}

  <div id='main_nav'>
    <h2 class='hidden'>{% t globa.change_language %}</h2>
    <div class='lang'>
      {% if site.lang == "mk" %}
        {% capture en_link %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
        <a href="/en" title="Translate to English"><img alt="En" src="/assets/en.jpg" /></a>
      {% elsif site.lang == "en" %}
        {% capture mk_link %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
        <a href="/" title="Преведи на Македонски"><img alt="Mk" src="/assets/mk.jpg" /></a>
      {% endif %}
    </div>
    <nav>
      <h2 class='hidden'>{% t globa.main_navigation %}</h2>
      <ul>
        <li><a href="{{ site.baseurl }}/posts">{% t menu.news %}</a></li>
        <li><a href="{{ site.baseurl }}/band">{% t menu.band %}</a></li>
        <li><a href="{{ site.baseurl }}/galleries">{% t menu.photos %}</a></li>
        <li><a href="{{ site.baseurl }}/downloads">{% t menu.media %}</a></li>
        <li><a href="{{ site.baseurl }}/releases">{% t menu.releases %}</a></li>
        <li><a href="https://www.facebook.com/sanatoriumbandofficial">{% t menu.contact %}</a></li>
      </ul>
    </nav>
  </div>
</div>
