%article.post
  %header
    %h2.titlePost
      = link_to post.title, post_path(post)
  %footer
    %time{:datetime => post.published_at}
      = post.published_at.to_s(:post)
  .postContent
    = raw find_and_preserve(post.content)
