%article.post
  %header
    %h2= link_to post.title, post_path(post)
    %div
      %time{:datetime => post.published_at}
        = t('posts.time', :time => time_ago_in_words(post.published_at))
      %span= link_to pluralize(post.comments_count, 'Comment'), post_path(post) + '#comments'

  %section
    = raw find_and_preserve(post.content)
