- title(@post.title.html_safe)
- description(@post.description.html_safe)
- head(%{<meta property="og:image" content="#{request.base_url}#{image_path('sanatorium_2014.jpg')}" />}.html_safe)

.posts_wrapper
  = render 'posts/post', :post => @post

  .comments
    = render 'shared/disqus'
