- title(@post.title)
-#- description(@post.description)

.wrapper
  = render 'posts/post', :post => @post

.comments
  %a{:name => "comments"}
  %h3 Comments
  - if @post.comments.size > 0
    %ol
      = render :partial => 'comments/comment', :collection => @comments
  - else
    %p This article does not have any comments yet.

.comment_form
  = render :partial => 'comments/form'
