@import compass/css3
@import compass/utilities
@import "compass/css3/transform"

body
  color: #FFF
  font-size: 13px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  background: image_url("bg.jpg") no-repeat scroll center top #000

a, a:active, a:visited
  color: #CCC
  text-decoration: none

a:hover
  color: #DDD
  text-decoration: underline

//p + p
  //text-indent: 1em
// http://24ways.org/2006/compose-to-a-vertical-rhythm
p
  line-height: 1.5em
  //margin-top: 1.5em
  margin-bottom: 1.5em

h1
  font-size: 2em
  line-height: 0.75em
  margin-top: 0.5em
  margin-bottom: 1em
h2
  font-size: 1.5em
h3
  font-size: 1.25em
h4
  font-size: 1em
  text-transform: uppercase
  font-weight: bold
h5
  font-size: 0.9em
h6
  font-size: 0.8em

#container
  width: 960px
  margin: 0 auto

.wrapper
  overflow: hidden
  width: 960px
  margin: 0 auto

#logo
  margin-top: 10px
  width: 400px
  height: 80px
  background-image: image_url("logo.png")

/* HEADER START */
header
  overflow: hidden
  margin-bottom: 20px

  h1
    float: left

  #main_nav
    float: right

    nav
      margin: 20px 0 0 0

      ul
        +horizontal-list(6px)

        li.lang
          margin-left: 10px
/* HEADER END */

/* FOOTER BEGIN */

.footer
  margin-top: 20px
  padding-top: 55px
  background: image_url("footer.jpg") no-repeat scroll center top
  height: 26px

  .copyright
    float: left

  nav
    float: right

    ul
      +horizontal-list
/* FOOTER END */

/* STICKY FOOTER BEGIN */
html, body
  height: 100%

#container
  min-height: 100%
  height: auto !important
  height: 100%
  /* must be same as footer height */
  margin: 0 auto -101px

.push
  /* must be same as footer height */
  height: 101px
/* STICKY FOOTER END */

/* FEATURED BEGIN */
#featured
  overflow: hidden
  height: 370px
  margin: 20px 0

  #slider
    width: 550px
    float: left
    //border: 1px solid #222

  #promo
    width: 370px
    float: right
    text-align: center

    h2
      font-size: 22px
      font-weight: bold
      margin: 5px 0 10px
      color: #CCC
      text-shadow: #DDD 0 1px 1px
    iframe
      //border: 1px solid #222
/* FEATURED END */

/* NEWS BEGIN */
#news
  overflow: hidden
  margin: 30px 0

  #posts
    width: 550px
    float: left

    ul
      margin: 10px 0 30px
      padding: 0px
    ul li
      margin: 15px 5px 0 0
      padding: 5px 0
      overflow: hidden
      border-bottom: 1px dashed #222
      list-style: none
    ul li i
      display: block
      padding-top: 8px

    header span.date
      font-size: 0.9em
      font-weight: bold

  #twitter
    width: 360px
    float: right

    ul
      margin: 10px 0 30px
      padding: 0
    ul li
      margin: 15px 5px 0 0
      padding: 5px 0
      overflow: hidden
      border-bottom: 1px dashed #222
      list-style: none
    ul li i
      display: block
      padding-top: 8px
    ul li .date
      font-size: 0.9em
      font-weight: bold

/* NEWS END */

.posts
  width: 650px
  float: left
  margin-right: 20px


article.post
  width: 650px
  float: left
  margin-bottom: 35px

  ul
    li
      list-style: disc outside none
      padding-bottom: 5px

  h3
    margin-bottom: 1em

  header
    background: #333
    +border-radius(10px)
    +box-shadow(#999, 1px, 2px, 3px)
    margin-bottom: 15px
    padding: 5px 15px
    h2
      font-size: 24px
    div
      margin-top: 2px
      padding-top: 3px
      text-transform: uppercase
      font-size: 11px
      font-weight: bold
      color: #888

      .tags
        border-left: 2px solid #CCC
        border-right: 2px solid #CCC
        margin: 0 10px
        padding: 0 10px

      span
        word-spacing: 3px
  section
    border-bottom: 1px solid #CCC
    padding: 10px 5px

    p
      overflow: hidden
      img
        float: left
        margin: 0 10px 10px 0

aside
  float: right
  width: 205px

  h3
    margin: 0 0 15px 20px
  ul
    li
      margin: 3px 0

.comments
  width: 650px

  h3
    margin-bottom: 20px

  ol
    margin: 0

    li
      border-bottom: 1px dashed #CCC
      margin: 20px 0 30px
      padding-bottom: 5px
      overflow: hidden

      .author
        float: left
        width: 60px

      time
        margin: 5px 0
        text-align: right
        float: right
        width: 590px

      .content
        float: right
        width: 580px
        margin-left: 10px

.comment_form
  h3
    margin-bottom: 1em

label
  font-weight: bold
  margin-bottom: 3px
  float: left
  display: inline-block
  width: 100px

span.field_notice
  display: block
  padding-left: 100px
  color: #666
  font-size: 10px

.fieldWithErrors
  padding: 2px
  background-color: red
  display: table

form
  div
    margin: 5px 0 10px
  span.field_with_errors
    input, textarea
      border: 1px solid red

input, textarea
  +border-radius(3px)
  border: 1px solid #CCC
  padding: 3px
  &:hover, &:focus, &:active
    +box-shadow(#ccc, 0, 0, 5px)
    border: 1px solid #CCC

input[type=submit]
  cursor: pointer
  font-size: 12px
  font-weight: bold
  padding: 6px 12px
  text-transform: uppercase
  +border-radius(7px)
  +box-shadow(#666, 1px, 3px)

input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active
  +box-shadow(#666, 1px, 3px)


.submit
  margin-left: 100px

