---
layout: application
---

<div class='posts_wrapper'>
  <article class='post'>
  <header>
    <h2 class='titlePost'>
      <a href="{{ site.baseurl }}{{ page.permalink }}">{{ page.title }}</a>
    </h2>
  </header>
  <footer>
    {%- assign date_format = "%d. %m. %Y %R" -%}
    <time datetime='{{ page.date }}'>
      {{ page.date | date: date_format }}
    </time>
  </footer>
  <div class='postContent'>
    {{ content }}
  </div>
  </article>


  <div class='comments'>
    {%- if site.disqus.shortname -%}
      {%- include disqus_comments.html -%}
    {%- endif -%}
  </div>
</div>
