/* Override here any style defined by web-app-theme */

body {
  font-family: helvetica, arial, sans-serif; !important
}

h1, h2, h3 {
  font-family: helvetica, arial, sans-serif;
}

#sidebar .block h4 {
  font-family: helvetica, arial, sans-serif;
}
.form label.label {
  font-family: helvetica, arial, sans-serif;
}

a.button, button.button {
  font-family: helvetica, arial, sans-serif;
}
