.wrapper
  %small.copyright
    Copyright &copy; 2002 - #{Date.today.year} sanatorium.com.mk

  %nav
    %ul
      %li= link_to 'Twitter', 'http://www.twitter.com/SanatoriumMK', :target => '_blank'
      %li= link_to 'Youtube', 'http://www.youtube.com/SanatoriumMacedonia', :target => '_blank'
